export("StartPELVIS")
export("indivSexing")
export("sexingFromFile")
export("tenFoldCV.glm")
export("bruzek02")
export("metavar")
export("addMetavars")
import(shiny)
import(MASS)
importFrom("stats", "na.omit", "binomial", "glm", "predict")
importFrom("utils", "read.csv", "write.csv")
importFrom("DT", "renderDT", "DTOutput")
