export("add_metavars")
export("addMetavars")
export("bruzek02")
export("indiv_sexing")
export("indivSexing")
export("dataframe_sexing")
export("sexingFromFile")
export("StartPELVIS")
export("start_pelvis")
import(shiny)
import(MASS)
importFrom("stats", "na.omit", "binomial", "glm", "predict")
importFrom("utils", "data", "read.csv", "read.table", "write.csv")
importFrom("DT", "renderDT", "DTOutput")
